::-webkit-scrollbar {
  width: 0;
}
* {
  padding: 0 0 0 0;
  font-family: "Montserrat", sans-serif;
  color: #374A70;
  font-size: 16px;
}
.mb150 {
  margin-top: 150px;
}
.mb100 {
  margin-bottom: 100px;
}
ul {
  list-style-type: none;
}
h1,
h2,
h3,
h4 {
  font-weight: 700;
  color: #FF6565;
}
.f32 {
  font-size: 32px;
}
.mt5 {
  margin-top: 5px;
}
.header {
  margin-top: 15px;
}
.header__logo {
  margin-right: 15px;
}
.header__menu ul li {
  margin-right: 35px;
  font-size: 14px;
}
.burger {
  width: 40px;
  height: 16px;
}
.burger:hover {
  cursor: pointer;
  transition: 0.2s ease;
  opacity: 70%;
}
.header__button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  height: 50px;
  text-align: center;
  background-color: #FF6565;
}
.header__button span {
  color: white;
}
.header__menu ul li:last-child {
  margin-right: 0;
}
.header__menu ul li:hover {
  cursor: pointer;
  color: #FF6565;
}
.standardblock__leftmenu {
  display: flex;
  flex-direction: column;
}
@media (min-width: 544px) {
  .standardblock__leftmenu {
    padding-left: 0!important;
  }
}
@media (min-width: 768px) {
  .standardblock__leftmenu {
    padding-left: 0!important;
  }
}
@media (min-width: 992px) {
  .standardblock__leftmenu {
    padding-left: 15px!important;
  }
}
.standardblock__leftmenu .wrapper h1 {
  margin-bottom: 30px;
}
@media (min-width: 544px) {
  .standardblock__leftmenu .wrapper h1 {
    font-size: 18px;
    font-weight: bold;
  }
}
@media (min-width: 768px) {
  .standardblock__leftmenu .wrapper h1 {
    font-size: 18px;
  }
}
@media (min-width: 992px) {
  .standardblock__leftmenu .wrapper h1 {
    font-size: 24px!important;
  }
}
.menu_wrapper {
  overflow: auto ;
  white-space: nowrap;
}
.menu_wrapper::-webkit-scrollbar {
  width: 0;
}
@media (min-width: 768px) {
  .standardblock__leftmenu .menu_wrapper ul {
    display: flex;
  }
}
@media (min-width: 992px) {
  .standardblock__leftmenu .menu_wrapper ul {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 544px) {
  .standardblock__leftmenu .menu_wrapper ul {
    display: flex;
  }
}
.standardblock .menu_wrapper ul li.item {
  margin-right: 30px;
}
.standardblock .menu_wrapper ul li.item:last-child {
  margin-right: 0;
}
.standardblock .menu_wrapper ul .item a {
  text-decoration: none;
  color: #B8B9BE;
  font-size: 14px;
}
.standardblock ul .item a:hover {
  color: #343745;
}
@media (min-width: 992px) {
  .standardblock__rightmenu {
    margin-left: 9px;
  }
}
@media (min-width: 1200px) {
  .standardblock__rightmenu {
    margin-left: 23px;
  }
}
.standardblock .standardblock__leftmenu a {
  color: #343745;
  text-decoration: none;
  font-size: 14px;
}
.standardblock__rightmenu_item {
  transition: 0.2s ease;
  border-radius: 5px;
  flex-direction: column-reverse;
  width: 240px;
  height: 310px;
  display: flex;
}
@media (min-width: 768px) {
  .standardblock__rightmenu_item {
    flex-direction: row!important;
    width: 330px;
    height: 180px;
    background: #EEF7FF url("/include.digital/img/krug.svg") no-repeat right bottom !important;
  }
}
@media (min-width: 992px) {
  .standardblock__rightmenu_item {
    width: 330px;
    height: 180px;
  }
}
@media (min-width: 1200px) {
  .standardblock__rightmenu_item {
    width: 400px;
    height: 180px;
  }
}
@media (min-width: 544px) {
  .standardblock__rightmenu_item {
    background: #EEF7FF url("/include.digital/img/rotate.svg") no-repeat right top;
  }
}
.standardblock__rightmenu_item:hover {
  cursor: pointer;
}
@media (min-width: 544px) {
  .standardblock__rightmenu_item:hover {
    background: #374A70 url("/include.digital/img/rotate.svg") no-repeat right top;
  }
}
.standardblock__rightmenu_item:hover span,
.standardblock__rightmenu_item:hover p {
  color: white;
}
.standardblock__rightmenu_item:hover img:first-child {
  transition: 0.5s ease;
  margin-bottom: 10px;
}
.standardblock__rightmenu_item p {
  width: 247px;
}
.standardblock_wrapper {
  margin-top: 25px;
  margin-left: 20px;
}
@media (min-width: 768px) {
  .standardblock_wrapper {
    width: 204px;
  }
}
@media (min-width: 992px) {
  .standardblock_wrapper {
    width: 200px;
  }
}
@media (min-width: 1200px) {
  .standardblock_wrapper {
    width: auto;
  }
}
.standardblock_wrapper_paragraph {
  margin-top: 15px;
}
.standardblock_image {
  display: flex;
}
@media (min-width: 768px) {
  .standardblock_image {
    align-self: flex-end !important;
  }
}
@media (min-width: 544px) {
  .standardblock_image {
    align-self: center;
  }
}
.standardblock_image img {
  width: 100%;
  object-fit: cover;
}
/*# sourceMappingURL=test.css.map */